{% extends 'apiui/base.html' %} {% block content %}
<script>
    new WOW().init();
</script>
<div class="container bg-img">
    <h2 class=" text-center">ULTIMATE CAVALIERS FOR DEVELOPERS</h2>
</div>
<div class="footer">
    <!-- Footer -->
    <footer class="page-footer font-small  pt-4" style="background-color: #002855;;">
    

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
        
        <a> ULTIMATE CAVALIERS </a>
        COPYRIGHT © 2020 
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>

{% endblock %}
